@import '../fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
  }

  html,
  body {
    font-family: var(--font-primary);
  }

  body {
    @apply bg-white;
    color: #1f1f1a;
  }
}

@layer components {
  .layout-shell {
    @apply mx-auto w-full max-w-screen-2xl px-6 md:px-10 lg:px-12 xl:px-16;
  }
}
